// Use DBML to define your database structure
// Docs: https://dbml.dbdiagram.io/docs

use on this site: https://dbdiagram.io/home

Table Profiles {
  id uuid [pk]
  username text
  full_name text
}

table Products {
  product_id uuid [pk]
  category_id uuid
  product_name text
  price int
}

table categories{
  category_id uuid [pk]
  name text
}


Table Order{
  order_id uuid [pk]
  user_id uuid
  address_id uuid
  order_date timestamp
  product_total int
  completion_statis boolean
}

Table Addresses{
  address_id uuid [pk]
  street text
  city text
  state text
  zip text
}


Table UserAddress{
  user_id uuid
  address_id uuid
  indexes{
    (user_id, address_id) [pk]
  }
}

table OrderItem{ 
  order_id uuid
  product_id uuid
    indexes{
    (order_id, product_id) [pk]
  }
}

Table ProductCategory{
 category_id uuid
 product_id uuid

indexes{
    (category_id, product_id) [pk]
  }
}


ref: UserAddress.user_id - Profiles.id
ref: Addresses.address_id - UserAddress.address_id

ref: Order.order_id - OrderItem.order_id
ref: Products.product_id - OrderItem.product_id

ref: Order.user_id - Profiles.id
ref: Order.address_id - Addresses.address_id 

ref: ProductCategory.category_id - categories.category_id
ref: ProductCategory.product_id - Products.product_id