@import './base.css';

#app {
  max-width: 1280px;
  margin:auto;
  font-weight: normal;
}

a{
  text-decoration: none;
  color:  var(--brilliant-azure);
}

.clickable{
  cursor: pointer;
}



@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    padding: 0 2rem;
  }
}

