@import './base.css';

#app {
  max-width: 1280px;
  margin:auto;
  font-weight: normal;
}

a{
  text-decoration: none;
  color:  var(--brilliant-azure);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--web-gold);
    border-bottom: 2px solid var(--web-gold);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    padding: 0 2rem;
  }
}
